@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@300&display=swap');

body {
    font-family: Merriweather, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
    min-height: 125vh;
    display: flex;
    flex-direction: column;
}

#head {
    width: 100%;
    height: 90px;
    background-color: #1cafaf;
    margin-left: 0px;
    display: flexbox;
}

.menu {
    margin: 10px;
    padding: 15px;
    text-align: center;
    list-style: none;
    letter-spacing: 4px;
    overflow: hidden;
}

.menu li {
    float: right;
}

.menu li a {
    font-size: 150%;
    color:#fff;
    padding: 15px 20px;
    display: block;
    text-decoration: none;
}

.menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-block: 1px solid #3a3a3a;
}

h1, h2 {
    font-family: Merriweather, sans-serif;
    letter-spacing: 4px;
    color:#252525;
}

.logo {
    margin: 15px;
    margin-top:20px;
    padding: 10px;
    float: left;
    font-size: 200%;
    text-transform: uppercase;
}
.logo a {
    text-decoration: none;
    text-transform: capitalize;
    color:#fff;
}

#hero-img {
    width: 1200px;
    height: 800px;
    left:0;
    float: left;
    position: absolute;
    top: 108px;
}

#personal {
    font-size: 120%;
    font-family: Merriweather, sans-serif;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 4px;
    width: 250px;
    height: 200px;
    padding: 5px;
    top: 120px;
    right: 750px;
    border-radius: 8px;
    position: absolute;
    opacity: 0.6;
    background-color: #1cafaf;
}

.company {
    
    width: 250px;
    height: 300px;
    margin: 5px;
    padding: 10px;
    top: 95px;
    position: absolute;
    text-align: center;
    left: 1250px;

}

.come-to {
    
    width: 250px;
    height: 300px;
    margin: 5px;
    padding: 10px;
    top: 70px;
    position: absolute;
    text-align: center;
    left: 1600px;
}


.love {
    
    width: 250px;
    height: 300px;
    margin: 5px;
    padding: 5px;
    top: 500px;
    position: absolute;
    text-align: center;
    left: 1400px;
}

p {
    font-family: Merryweather, sans-serif;
    font-size: 120%;
    line-height: 20px;
    color:#252525;
    font-weight: bolder;
}

#comp2 {
    padding: 25px;
    font-size: 200%;
    width: 200px;
    height: 200px;
    line-height: 35px;
    border-radius: 50%;
    border: 1px solid #252525;
    background-color:#1cafaf;
}

#come-to2 {
    padding: 25px;
    font-size: 200%;
    width: 150px;
    height: 150px;
    text-align: center;
    line-height: 35px;
    border-radius: 50%;
    border: 1px solid #252525;
    background-color:#6faf1c;
}

#love2 {
    padding: 40px;
    font-size: 200%;
    width: 200px;
    height: 250px;
    line-height: 30px;
    border-radius: 50%;
    border: 1px solid #252525;
    background-color:#e9b953;
}

.company > p {
    position: absolute;
    top: 300px;
}

.come-to > p {
    position: absolute;
    right: 40px;
    top: 250px;
}

.love2 > p {
    position: absolute;
    top: 380px;
}

footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 90px;
}

.social {
    text-align: center;
}

.social > li {
    display: inline;
    letter-spacing: 40px;
}

.social i {
    font-size: 350%;
    color:#070606;
}

.gallery-inner {
        clear: both;
        line-height: 0;
        column-count: 4;
        column-gap: 0px;
        margin-bottom: 80px;
        margin-top: 15px;
    }
    
    .gallery-inner > img {
        width: 100%;
    }


    #signup-img {
        width: 1200px;
        height: 900px;
        margin-right: 1px;
        margin-top: 15px;
        margin-bottom: 20px;
        float: right;
        position: relative;
    }
    .signup2 {
        font-family: Merriweather, sans-serif;
        font-size: 200%;
        width: 200px;
        height: 20px;
        color: #df5f0a;
        top: 200px;
        margin-left: 10px;
        text-align: left;
        text-transform: uppercase;
        position: absolute;

    }

    .signup-inner {
        width: 100px;
        height: 200px;
        top: 350px;
        margin-left: 10px;
        float:left;
        position: absolute;
    }

   .about {
       height:100px;
       size:200%;
   }

   #button {
       width: 200px;
       height: 40px;
       background-color:  #df5f0a;
       color: #070606;
       font-size: 100%;
       font-weight: bold;
    
   }

   #button:hover {
    background-color:#fafafa;
    color:#df5f0a;
}

#button :active {
    background-color: #518112;
    color: #070606;
}

/**
.btn:active {
    margin-left: 1px 1px 0;
    box-shadow: -1px -1px 1px #000;
    outline: 1px solid #000000;
    -moz-outline-radius: 7px;
    background-image: linear-gradient(to top, #97e8ae, #3be36b);
  }
  #btnControl:checked + label {
    width: 70px;
    height: 74px;
    line-height: 74px;
  }