@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@300&display=swap');

body {
    font-family: Merriweather, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

#upper-bar {
    background:#1cafaf;
}

.menu {
    list-style: none;
    margin:10px;
    padding: 10px;
    border-radius: 05;
    letter-spacing: 4px;
    overflow: auto;
}

.menu li {
    float: right;
}

.menu li a {
    font-size: 150%;
    text-decoration: none;
    color:#fff;
    padding: 15px 20px;
    display: block;
    border-bottom: none;
}

.menu a:hover {
    border-bottom: 2px solid #3a3a3a;
}

.active {
    border-bottom: 2px solid #3a3a3a;
}

h1, h2 {
    font-family: Merriweather, sans-serif;
    letter-spacing: 4px;
    color:#252525;
}

.logo {
    margin: 10px;
    padding: 10px;
    float: left;
    font-size: 200%;
    text-transform: uppercase;
}
.logo a {
    text-decoration: none;
    text-transform: capitalize;
    color:#fff;
}

#hero-img {
    width: 1200px;
    height: 800px;
    left:0;
    float: left;
    position: absolute;
    top: 88px;
}

#personal {
    font-size: 120%;
    font-family: Merriweather, sans-serif;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 4px;
    width: 250px;
    height: 200px;
    padding: 5px;
    top: 120px;
    right: 750px;
    border-radius: 8px;
    position: absolute;
    opacity: 0.6;
    background-color: #1cafaf;
}

.company {
    
    width: 250px;
    height: 300px;
    margin: 5px;
    padding: 10px;
    top: 95px;
    position: absolute;
    text-align: center;
    left: 1250px;

}

.come-to {
    
    width: 250px;
    height: 300px;
    margin: 5px;
    padding: 10px;
    top: 70px;
    position: absolute;
    text-align: center;
    left: 1600px;
}


.love {
    
    width: 250px;
    height: 300px;
    margin: 5px;
    padding: 5px;
    top: 500px;
    position: absolute;
    text-align: center;
    left: 1400px;
}

p {
    font-family: Merryweather, sans-serif;
    font-size: 120%;
    line-height: 20px;
    color:#252525;
    font-weight: bolder;
}

#comp2 {
    padding: 25px;
    font-size: 200%;
    width: 200px;
    height: 200px;
    line-height: 35px;
    border-radius: 50%;
    border: 1px solid #252525;
    background-color:#1cafaf;
}

#come-to2 {
    padding: 25px;
    font-size: 200%;
    width: 150px;
    height: 150px;
    text-align: center;
    line-height: 35px;
    border-radius: 50%;
    border: 1px solid #252525;
    background-color:#6faf1c;
}

#love2 {
    padding: 40px;
    font-size: 200%;
    width: 200px;
    height: 250px;
    line-height: 30px;
    border-radius: 50%;
    border: 1px solid #252525;
    background-color:#e9b953;
}

.company > p {
    position: absolute;
    top: 300px;
}

.come-to > p {
    position: absolute;
    right: 40px;
    top: 250px;
}

.love2 > p {
    position: absolute;
    top: 380px;
    right: 10px;
}

footer {
background-color: #e9b953;
    position: relative; 
    left: 0 ; right: 0; bottom: 0; 
}